<script>
  let className = "w-6 h-6";
  export let icon = [];
  export { className as class };
</script>

<svg
  class={className}
  fill="none"
  stroke="currentColor"
  viewBox="0 0 24 24"
  xmlns="http://www.w3.org/2000/svg">
  {#each icon as p}
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d={p} />
  {/each}
</svg>
